docker/nodered/flows.json
[{"id":"b828f4eab075598e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"5bf8b0e69c96dd3f","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"a16144ecf97e669a","type":"s7 endpoint","transport":"iso-on-tcp","address":"172.16.13.221","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"5000","timeout":"2000","name":"Automática Largoiko","vartable":[{"addr":"DB546,X0.0","name":"b_fila_completa_pulmon"},{"addr":"DB546,X0.1","name":"b_fila_cinta_evacuacion"},{"addr":"DB546,X0.2","name":"b_intermedia_cinta_evacuacion"},{"addr":"DB546,X0.3","name":"eje_electrico"},{"addr":"DB546,X0.4","name":"ningun_casete_seleccionado"},{"addr":"DB546,X0.5","name":"variador_cinta_en_error"},{"addr":"DB546,X0.6","name":"seta_emergencia_mod1"},{"addr":"DB546,X0.7","name":"seta_emergencia_mod2"},{"addr":"DB546,X1.0","name":"seta_emergencia_mod3"},{"addr":"DB546,X1.1","name":"barrera_seguridad_1"},{"addr":"DB546,X1.2","name":"barrera_seguridad_2"},{"addr":"DB546,X1.3","name":"puerta_1"},{"addr":"DB546,X1.4","name":"puerta_2"},{"addr":"DB546,X1.5","name":"baliza_amari_mod3"},{"addr":"DB546,X1.6","name":"baliza_rojo_mod3"},{"addr":"DB546,X1.7","name":"baliza_verde_mod3"},{"addr":"DB546,X2.0","name":"baliza1_amari_mod1"},{"addr":"DB546,X2.1","name":"baliza1_rojo_mod1"},{"addr":"DB546,X2.2","name":"baliza1_verde_mod1"},{"addr":"DB546,X2.3","name":"baliza2_amari_mod1"},{"addr":"DB546,X2.4","name":"baliza2_rojo_mod1"},{"addr":"DB546,X2.5","name":"baliza2_verde_mod1"},{"addr":"DB546,X2.6","name":"ev_pinza_1"},{"addr":"DB546,X2.7","name":"ev_pinza_2"},{"addr":"DB546,X3.0","name":"ev_pinza_3"},{"addr":"DB546,X3.1","name":"ev_pinza_4"},{"addr":"DB546,X3.2","name":"ev_pinza_sujeccion_caja_e_cierre"},{"addr":"DB546,X3.3","name":"ev_pinza_sujeccion_caja_e_impresora"},{"addr":"DB546,X3.4","name":"marcha_variador_cinta"},{"addr":"DB546,X3.5","name":"casette_1"},{"addr":"DB546,X3.6","name":"casette_2"},{"addr":"DB546,X3.7","name":"condiciones_iniciales_estacion_1"},{"addr":"DB546,X4.0","name":"estacion_4_ausencia_de_caja"},{"addr":"DB546,X4.1","name":"exceso_de_piezas_en_vibrador_1"},{"addr":"DB546,X4.2","name":"exceso_de_piezas_en_vibrador_2"},{"addr":"DB546,X4.3","name":"exceso_de_piezas_en_vibrador_3"},{"addr":"DB546,X4.4","name":"exceso_de_piezas_en_vibrador_4"},{"addr":"DB546,X4.5","name":"sensor_de_parada_alimentador_1"},{"addr":"DB546,X4.6","name":"sensor_de_parada_alimentador_2"},{"addr":"DB546,X4.7","name":"sensor_de_parada_alimentador_3"},{"addr":"DB546,X5.0","name":"sensor_de_parada_alimentador_4"},{"addr":"DB546,X5.1","name":"sensor_de_caja_estacion_4"},{"addr":"DB546,X5.2","name":"condiciones_iniciales_estacion_4"},{"addr":"DB546,X5.3","name":"fin_estacion_4"},{"addr":"DB546,X5.4","name":"permisode_trabajo_estacion_4"},{"addr":"DB546,X5.5","name":"atasco_embudo_vibrador_5"},{"addr":"DB546,X5.6","name":"atasco_embudo_vibrador_6"},{"addr":"DB546,X5.7","name":"atasco_embudo_vibrador_7"},{"addr":"DB546,X6.0","name":"estacion_7_ausencia_de_caja"},{"addr":"DB546,X6.1","name":"exceso_de_piezas_en_vibrador_5"},{"addr":"DB546,X6.2","name":"exceso_de_piezas_en_vibrador_6"},{"addr":"DB546,X6.3","name":"exceso_de_piezas_en_vibrador_7"},{"addr":"DB546,X6.4","name":"sensor_de_parada_alimentador_5"},{"addr":"DB546,X6.5","name":"sensor_de_parada_alimentador_6"},{"addr":"DB546,X6.6","name":"sensor_de_parada_alimentador_7"},{"addr":"DB546,X6.7","name":"sensor_de_caja_estacion_7"},{"addr":"DB546,X7.0","name":"condiciones_iniciales_estacion_7"},{"addr":"DB546,X7.1","name":"fin_estacion_7"},{"addr":"DB546,X7.2","name":"permisode_trabajo_estacion_7"},{"addr":"DB546,X7.3","name":"estacion_8_ausencia_de_caja"},{"addr":"DB546,X7.4","name":"exceso_de_piezas_en_vibrador_8"},{"addr":"DB546,X7.5","name":"sensor_de_parada_alimentador_8"},{"addr":"DB546,X7.6","name":"sensor_de_caja_estacion_8"},{"addr":"DB546,X7.7","name":"condiciones_iniciales_estacion_8"},{"addr":"DB546,X8.0","name":"fin_estacion_8"},{"addr":"DB546,X8.1","name":"permisode_trabajo_estacion_8"},{"addr":"DB546,X8.2","name":"defecto_de_pieza_estacion_9"},{"addr":"DB546,X8.3","name":"estacion_9_ausencia_de_caja"},{"addr":"DB546,X8.4","name":"exceso_de_piezas_vibrador_9"},{"addr":"DB546,X8.5","name":"goma_atascada_en_embudo_vibrador_9"},{"addr":"DB546,X8.6","name":"sensor_de_parada_alimentador_9"},{"addr":"DB546,X8.7","name":"sensor_de_paso_alimentador_9"},{"addr":"DB546,X9.0","name":"sensor_de_caja_estacion_9"},{"addr":"DB546,X9.1","name":"condiciones_iniciales_estacion_9"},{"addr":"DB546,X9.2","name":"fin_estacion_9"},{"addr":"DB546,X9.3","name":"permisode_trabajo_estacion_9"},{"addr":"DB546,X9.4","name":"b_pinza_sujeccion_caja_est_cierre_caja"},{"addr":"DB546,X9.5","name":"ausencia_caja_estacion_cierre"},{"addr":"DB546,X9.6","name":"condiciones_iniciales_estacion_13"},{"addr":"DB546,X9.7","name":"fin_estacion_13"},{"addr":"DB546,X10.0","name":"permisode_trabajo_estacion_13"},{"addr":"DB546,X10.1","name":"ausencia_de_caja_estacion_14"},{"addr":"DB546,X10.2","name":"condiciones_iniciales_estacion_14"},{"addr":"DB546,X10.3","name":"fin_estacion_14"},{"addr":"DB546,X10.4","name":"permisode_trabajo_estacion_14"},{"addr":"DB546,X10.5","name":"b_pinza_e_etiqueta_t"},{"addr":"DB546,X10.6","name":"b_vacuestato_recogida_etiq"},{"addr":"DB546,X10.7","name":"condiciones_iniciales_estacion_15"},{"addr":"DB546,X11.0","name":"fin_estacion_15"},{"addr":"DB546,X11.1","name":"permisode_trabajo_estacion_15"},{"addr":"DB546,X11.2","name":"b_presencia_e__extraccion"},{"addr":"DB546,X11.3","name":"condiciones_iniciales_estacion_16"},{"addr":"DB546,X11.4","name":"fin_estacion_16"},{"addr":"DB546,X11.5","name":"permisode_trabajo_estacion_16"},{"addr":"DB546,X11.6","name":"alarma_en_estacion_e1"},{"addr":"DB546,X11.7","name":"alarma_en_estacion_e4"},{"addr":"DB546,X12.0","name":"alarma_en_estacion_e7"},{"addr":"DB546,X12.1","name":"alarma_en_estacion_e8"},{"addr":"DB546,X12.2","name":"alarma_en_estacion_e9"},{"addr":"DB546,X12.3","name":"alarma_en_estacion_e13"},{"addr":"DB546,X12.4","name":"alarma_en_estacion_e14"},{"addr":"DB546,X12.5","name":"alarma_en_estacion_e15"},{"addr":"DB546,X12.6","name":"alarma_en_estacion_e16"},{"addr":"DB546,X12.7","name":"receta_nok"},{"addr":"DB546,X13.0","name":"fin_estacion_1"},{"addr":"DB546,X13.1","name":"permiso_de_trabajo_estacion_1"},{"addr":"DB546,DI14","name":"contador_cajas_fila"},{"addr":"DB546,DI18","name":"cajas_fabricadas"},{"addr":"DB546,DI22","name":"preseleccion_cajas"},{"addr":"DB546,DI26","name":"contador_kits_turno"},{"addr":"DB546,DI74","name":"numero_piezas_vibrador_1"},{"addr":"DB546,X78.0","name":"activo_vibrador_1"},{"addr":"DB546,DI102","name":"numero_piezas_vibrador_2"},{"addr":"DB546,X106.0","name":"activo_vibrador_2"},{"addr":"DB546,DI130","name":"numero_piezas_vibrador_3"},{"addr":"DB546,X134.0","name":"activo_vibrador_3"},{"addr":"DB546,DI158","name":"numero_piezas_vibrador_4"},{"addr":"DB546,X162.0","name":"activo_vibrador_4"},{"addr":"DB546,DI186","name":"numero_piezas_vibrador_5"},{"addr":"DB546,X190.0","name":"activo_vibrador_5"},{"addr":"DB546,DI214","name":"numero_piezas_vibrador_6"},{"addr":"DB546,X218.0","name":"activo_vibrador_6"},{"addr":"DB546,DI242","name":"numero_piezas_vibrador_7"},{"addr":"DB546,X246.0","name":"activo_vibrador_7"},{"addr":"DB546,DI270","name":"numero_piezas_vibrador_8"},{"addr":"DB546,X274.0","name":"activo_vibrador_8"},{"addr":"DB546,DI298","name":"numero_piezas_vibrador_9"},{"addr":"DB546,X302.0","name":"activo_vibrador_9"},{"addr":"DB546,X302.1","name":"permiso_de_trabajo_estacion_4_1"},{"addr":"DB546,X302.2","name":"permiso_de_trabajo_estacion_4_2"},{"addr":"DB546,X302.3","name":"permiso_de_trabajo_estacion_4_3"},{"addr":"DB546,X302.4","name":"permiso_de_trabajo_estacion_4_4"},{"addr":"DB546,X302.5","name":"permiso_de_trabajo_estacion_7_1"},{"addr":"DB546,X302.6","name":"permiso_de_trabajo_estacion_7_2"},{"addr":"DB546,X302.7","name":"permiso_de_trabajo_estacion_7_3"},{"addr":"DB546,X303.0","name":"marcha_auto"},{"addr":"DB546,X303.1","name":"alarma_general"},{"addr":"DB546,X303.2","name":"sensor_caja_estacion_13"},{"addr":"DB546,X303.3","name":"sensor_caja_estacion_14"},{"addr":"DB546,X303.4","name":"sensor_caja_estacion_15"},{"addr":"DB546,X303.5","name":"alarma_ausencia_caja_estacion_15"},{"addr":"DB546,X303.6","name":"alarma_ausencia_caja_estacion_16"},{"addr":"DB546,X303.7","name":"det_pinza_est4"},{"addr":"DB546,X304.0","name":"det_pinza_est7"},{"addr":"DB546,X304.1","name":"det_pinza_est8"},{"addr":"DB546,X304.2","name":"det_pinza_est9"},{"addr":"DB546,X304.3","name":"alarma_error_impresora"},{"addr":"DB546,X304.4","name":"alarma_det_cil_impresora_arriba"},{"addr":"DB546,X304.5","name":"alarma_barrera1_seguridad_mod_1_nok_cambio_casette"},{"addr":"DB546,X304.6","name":"alarma_barrera2_seguridad_mod_1_nok_cambio_casette"},{"addr":"DB546,S30.20","name":"nombre_receta"},{"addr":"DB546,S52.20","name":"nombre_pieza_vibrador_1"},{"addr":"DB546,S80.20","name":"nombre_pieza_vibrador_2"},{"addr":"DB546,S108.20","name":"nombre_pieza_vibrador_3"},{"addr":"DB546,S136.20","name":"nombre_pieza_vibrador_4"},{"addr":"DB546,S164.20","name":"nombre_pieza_vibrador_5"},{"addr":"DB546,S192.20","name":"nombre_pieza_vibrador_6"},{"addr":"DB546,S220.20","name":"nombre_pieza_vibrador_7"},{"addr":"DB546,S248.20","name":"nombre_pieza_vibrador_8"},{"addr":"DB546,S276.20","name":"nombre_pieza_vibrador_9"}]},{"id":"d553387941e3100b","type":"postgreSQLConfig","name":"","host":"100.10.10.4","hostFieldType":"str","port":"5432","portFieldType":"num","database":"seinsa","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","max":"10","maxFieldType":"num","min":"1","minFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"lis","userFieldType":"str","password":"Lis2568@_","passwordFieldType":"str"},{"id":"4cee5e940a5f6c71","type":"inject","z":"b828f4eab075598e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":220,"wires":[["33e108be60155158"]]},{"id":"33e108be60155158","type":"debug","z":"b828f4eab075598e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":220,"wires":[]},{"id":"a7ca343336cce27a","type":"split","z":"5bf8b0e69c96dd3f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":500,"wires":[["d199f3d16833e5f6"]]},{"id":"d199f3d16833e5f6","type":"function","z":"5bf8b0e69c96dd3f","name":"","func":"/*\nif (msg.payload === false){\n    msg.payload = 0\n}else if (msg.payload === true){\n    msg.payload = 1\n}\n*/\nif(typeof msg.payload === \"string\"){\n    msg.payload = \"'\"+msg.payload+\"'\"\n    //node.warn(\"El valor \"+msg.payload+\" es de tipo String\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":500,"wires":[["800587d5deeeb448"]]},{"id":"800587d5deeeb448","type":"join","z":"5bf8b0e69c96dd3f","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":790,"y":500,"wires":[["815f0ad6dd4a3593"]]},{"id":"815f0ad6dd4a3593","type":"function","z":"5bf8b0e69c96dd3f","name":"Preparar query","func":"//node.warn(Object.keys(msg.payload))\n//node.warn(Object.values(msg.payload))\n//msg.payload = {\"nombre_receta\":\"D4612\",\"nombre_pieza_vibrador_1\":\"B7001\",\"nombre_pieza_vibrador_2\":\"B2191\",\"nombre_pieza_vibrador_3\":\"B6229\",\"nombre_pieza_vibrador_4\":\"B5081\",\"nombre_pieza_vibrador_5\":\"B5069\",\"nombre_pieza_vibrador_6\":\"B5250\",\"nombre_pieza_vibrador_7\":\"\",\"nombre_pieza_vibrador_8\":\"B6180\",\"nombre_pieza_vibrador_9\":\"B4439\"}\n//msg.payload = {\"b_fila_completa_pulmon\":0,\"b_fila_cinta_evacuacion\":0,\"b_intermedia_cinta_evacuacion\":0,\"eje_electrico\":0,\"ningun_casete_seleccionado\":0}\nmsg.query = \"INSERT INTO automatica_largoiko (time,\"+Object.keys(msg.payload)+\") \\\nVALUES (now()+ INTERVAL '1 HOUR',\"+Object.values(msg.payload)+\");\"\n//msg.query = \"INSERT INTO automatica_largoiko (time, b_fila_completa_pulmon) \\\n//VALUES (now(),false);\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":500,"wires":[["c9776a40bc8d400d"]]},{"id":"829d876a6bb4a5e9","type":"debug","z":"5bf8b0e69c96dd3f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":500,"wires":[]},{"id":"40692d3518289cb5","type":"inject","z":"5bf8b0e69c96dd3f","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":600,"wires":[["dcc9912f61d76576"]]},{"id":"c852c8fadc09e64c","type":"debug","z":"5bf8b0e69c96dd3f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":600,"wires":[]},{"id":"8ac99f44a79458ed","type":"inject","z":"5bf8b0e69c96dd3f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":820,"y":440,"wires":[["815f0ad6dd4a3593"]]},{"id":"bf4d9a31fe0d798b","type":"csv","z":"5bf8b0e69c96dd3f","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":730,"y":600,"wires":[["b785936c480fb477"]]},{"id":"652cfadf47db8687","type":"file","z":"5bf8b0e69c96dd3f","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":940,"y":660,"wires":[[]]},{"id":"b785936c480fb477","type":"debug","z":"5bf8b0e69c96dd3f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":600,"wires":[]},{"id":"973a8e65895fb79e","type":"s7 in","z":"5bf8b0e69c96dd3f","endpoint":"a16144ecf97e669a","mode":"all","variable":"B FILA COMPLETA PULMON","diff":true,"name":"","x":210,"y":500,"wires":[["a7ca343336cce27a"]]},{"id":"c9776a40bc8d400d","type":"postgresql","z":"5bf8b0e69c96dd3f","name":"Insertar valores","query":"","postgreSQLConfig":"d553387941e3100b","split":false,"rowsPerMsg":1,"outputs":1,"x":1200,"y":500,"wires":[[]]},{"id":"dcc9912f61d76576","type":"postgresql","z":"5bf8b0e69c96dd3f","name":"","query":"SELECT * FROM automatica_largoiko where time > '2022-01-20'\n\n--ALTER TABLE automatica_largoiko \n--RENAME COLUMN b_vacuestato_recogida_etiq_ TO b_vacuestato_recogida_etiq;\n\n/*ALTER TABLE automatica_largoiko \nADD COLUMN nombre_receta VARCHAR,\nADD COLUMN nombre_pieza_vibrador_1 VARCHAR,\nADD COLUMN nombre_pieza_vibrador_2 VARCHAR,\nADD COLUMN nombre_pieza_vibrador_3 VARCHAR,\nADD COLUMN nombre_pieza_vibrador_4 VARCHAR,\nADD COLUMN nombre_pieza_vibrador_5 VARCHAR,\nADD COLUMN nombre_pieza_vibrador_6 VARCHAR,\nADD COLUMN nombre_pieza_vibrador_7 VARCHAR,\nADD COLUMN nombre_pieza_vibrador_8 VARCHAR,\nADD COLUMN nombre_pieza_vibrador_9 VARCHAR;\n*/\n--INSERT INTO automatica_largoiko (time,nombre_receta,nombre_pieza_vibrador_1,nombre_pieza_vibrador_2,nombre_pieza_vibrador_3,nombre_pieza_vibrador_4,nombre_pieza_vibrador_5,nombre_pieza_vibrador_6,nombre_pieza_vibrador_8,nombre_pieza_vibrador_9) VALUES (now(),D4612,B7001,B2191,B6229,B5081,B506,B5250,B6180,B4439);","postgreSQLConfig":"d553387941e3100b","split":false,"rowsPerMsg":1,"outputs":1,"x":370,"y":600,"wires":[["c852c8fadc09e64c"]]}]